@model PodLynk.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   
     <div>
                    @Html.LabelFor(m => m.OldPassword, new { @class = "loginLabel" }) 
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "required1" })       
                    @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Password", @class = "form-control" })  
                               
                </div>
      <div>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "loginLabel" }) 
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "required1" })       
                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Password", @class = "form-control" })  
                               
                </div>
    <div>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "loginLabel" }) 
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "required1" })       
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Password", @class = "form-control" })  
                               
                </div>
       <div class="align_center">
        <input type="submit" class="button Otherbtn" value="Change password" />
 </div>
       
}
